= form.association field.name, label: field.label, hint: field.help, required: field.required?, 
    input_html: field.html_attributes.reverse_merge(data: {filteringmultiselect: true, placeholder: t('admin.misc.search')})
