:ruby
  js_data = {
    :csspath => field.css_location,
    :jspath => field.js_location,
    :config_options => field.config_options.to_json
  }

- input_html = field.html_attributes.reverse_merge(:data => { :richtext => 'bootstrap-wysihtml5', :options => js_data.to_json })
= form.input field.method_name, as: :text, label: field.label, hint: field.help, required: field.required?, input_html: input_html
