- if field.view_helper == :hidden_field
  = form.input field.method_name, as: :hidden, input_html: field.html_attributes
- else
  = form.input field.method_name,
      label: field.label,
      hint: field.help,
      required: field.required?,
      input_html: field.html_attributes
