:ruby
  js_data = {
    :jspath => field.location ? field.location : field.base_location + "ckeditor.js",
    :base_location => field.base_location,
    :options => {
      :customConfig => field.config_js ? field.config_js : field.base_location + "config.js"
    }
  }

- input_html = field.html_attributes.reverse_merge(:data => { :richtext => 'ckeditor', :options => js_data.to_json })
= form.input field.method_name, as: :text, label: field.label, hint: field.help, required: field.required?, input_html: input_html
