= link_to url, class: 'btn btn-danger',
  :data => { :confirm => I18n.t('admin.form.confirmation'),
  params: params, 'bulk-action-method' => 'delete'} do
  %i.icon-trash
  = Basepack::Utils.translate(resource_class, :delete_all, :menu)
