%button.btn.btn-info{:type => "submit", name: "_refresh",
      'data-disable-with' => "<i class='icon-white icon-refresh'></i> #{t("admin.misc.refresh")}"}
  %i.icon-white.icon-refresh
  = t("admin.misc.refresh")
