- if collection.total_pages < 2
  = t('helpers.page_entries_info.one_page.display_entries', :count => collection.total_count).html_safe
- else
  - first = collection.offset_value + 1
  - last = collection.last_page? ? collection.total_count : collection.offset_value + collection.limit_value
  = t('helpers.page_entries_info.more_pages.display_entries', :first => first, :last => last, :total => collection.total_count).html_safe


